/* Slider */

.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: flex;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        flex-direction: row-reverse;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 38px;
    height: 128px;
    background-color: rgba(210, 166, 107, 0.88);
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    padding: 0;
    z-index: 100;

    &:hover {
        background-color: rgba(255, 255, 255, 0.8);
    }
}

.slick-prev {
    left: 0;
    background-image: url('../img/arrow-white-prev.png');

    &:hover {
        background-image: url('../img/arrow-gold-prev.png');
    }
}

.slick-next {
    right: 0;
    background-image: url('../img/arrow-white-next.png');

    &:hover {
        background-image: url('../img/arrow-gold-next.png');
    }
}

.slick-dots {
    position: absolute;
    bottom: -67px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;

    li {
        position: relative;
        display: inline-block;
        margin: 0 11px;
        opacity: .33;

        &.slick-active {
            opacity: 1;
        }

        button {
            font-size: 0;
            line-height: 0;
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background: $gold;
        }
    }


}
